html {
  font-size: 62.5%
}

:root {
  --bg-color : #F9F4F2;
  --main-grey : #2B2B2B;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 1.6rem;
  margin : 0;
  background: var(--bg-color);
  overflow: hidden;
}
